.tabContent {
    display:none;
}

.graph-container {
    background-color: #949D6A; /* comment this */
    height: 500px;
}

.nav-link {
    font-family: 'Lato';
    color: #3D3028;
}

.dropdown, .form-check-inline {
    margin-top: 10px;
    margin-left: 10px;
}

.dropdown .btn {  
    background-color: #ff9999 !important;
    color:  #3D3028 !important;
    font-family: 'Roboto Condensed';
}

.form-check-label {
    font-family: 'Roboto Condensed' !important;
}

.nav-item .active {
    color: #949D6A !important;
}