body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../img/bg.jpg');
    overflow: hidden;
    background-size: cover;
}

.row {
    margin-top: 50px;
    margin-bottom: 120px;
}

form img {
    width: 50px;
    height: 50px;
    
}

form {
    width: 300px;
    margin-top: 100px;
}

form button {
    width: 150px !important;
}

.form-item {
    font-family: 'Lato';
    color: #FF9999;
}

.md-form {
    margin-bottom: 30px;
}
