.table-header, .table-count, .modal-title {
    font-family: 'Lato';
}

.table-content, .modal-body {
    font-family: 'Roboto Condensed';
}

.btn-main, .paginate_button {
    background-color: #FF9999;
    font-family: 'Roboto Condensed'
}

td .btn-row {
    background-color: none;
    padding: 0px !important;
}

.page-item.active a {
    background-color: #FF9999 !important;
    border: none !important;
    color: #3D3028 !important;
}

.btn-secondary {
    font-family: 'Roboto Condensed';
}

.fa-trash-alt {
    margin-left: 10px;
}

#add-user-btn {
    margin: 10px;
}